@{
    ViewData["Title"] = "Home Page";
}

<p id="p1">This is some text in a paragraph.</p>
<form method="post" asp-controller="Home" asp-action="Index" >
    <button id="btn" @* onclick="Load()" *@ class="btn btn-info">Get Request Info</button>
</form>
<input type="button" id="btload" value="Get Data" onclick="Load()" />


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="c:\users\hp\source\repos\interceptfilterdatabinding\interceptfilterdatabinding\views\home\index.cshtml">c:\users\hp\source\repos\interceptfilterdatabinding\interceptfilterdatabinding\views\home\index.cshtml</a>